## Nested Loops

In [1]:
# Unique Pairs Example

for i in range(1, 5):
    for j in range(1, 5):
        print(i, j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [2]:
# *
# * *
# * * *
# * * * *
# * * * * *

rows = int(input("Enter rows: "))
for i in range(1, rows + 1):
    for j in range(0, i):
        print("*", end=" ")
    print("")

Enter rows:  8

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [3]:
# 1
# 121
# 12321
# 1234321

rows = int(input('Enter rows: '))
for i in range(1, rows+1):
  for j in range(1, i+1):
    print(j, end='')
  for k in range(i-1, 0, -1):
    print(k, end='')
  print()

Enter rows:  5

1
121
12321
1234321
123454321