# Lambda Functions
Anonymous functions.<br>
Single Expression Limit.<br>
<b>Syntax:</b> lambda args: expr<br>
<b>Example:</b> lambda a, b: a + b

In [1]:
x = lambda x : x**2
x(9)

81

In [2]:
a = lambda x, y : x + y
a(4, 5)

9

In [3]:
type(a)

function

## Lambda Function vs. Normal Function
### Lambda function:
- No return value.
- Written in Single-line.
- Not used for code reusability.
- Anonymous/No name.
### Normal function:
- Has a return value.
- Multi-line.
- Encourages code reusability via named functions.

In [1]:
# Why?

# Lambda functions are Anonymous functions ---> `lambda args: expr`,
# ideal for Higher-order functions, offers Concise function writing without naming.

In [2]:
# Higher Order Functions:

# Functions that take/return other functions.
# Useful for Abstraction, Code reuse.

# Enhances code modularity, readability.
# Encourages functional programming.

# Can lead to Complexity and Performance overhead (if overused).

In [3]:
b = lambda x : x[0] == 'a'
b('apple')

True

In [4]:
b('banana')

False

In [5]:
b = lambda x :'Even' if x%2 == 0 else 'Odd'
b(3)

'Odd'

In [6]:
b(2)

'Even'

# HOF

In [1]:
L = [11, 14, 27, 21, 23, 56, 78, 39, 45, 29, 28, 30]

# Even Sum
# Odd Sum
# Div3 Sum

def return_sum(L):
    even_sum = 0
    odd_sum = 0
    div3_sum = 0
    for i in L:
        if i%2 == 0:
            even_sum = even_sum + i
    for i in L:
        if i%2 != 0:
            odd_sum = odd_sum + i
    for i in L:
        if i%3 == 0:
            div3_sum = div3_sum + i
    return(even_sum, odd_sum, div3_sum)
print(return_sum(L))

(206, 195, 240)

In [2]:
L = [11, 14, 27, 21, 23, 56, 78, 39, 45, 29, 28, 30]
def return_sum(func, L):
    result = 0
    for i in L:
        if func(i):
            result = result + i
    return result
x = lambda x : x%2 == 0 # Even Sum
y = lambda x : x%2 != 0 # Odd Sum
z = lambda x : x%3 == 0 # Div3 Sum
print(return_sum(x, L))
print(return_sum(y, L))
print(return_sum(z, L))

206
195
240

Higher-order functions (HOF) accepts input + define operation of function.
# Higher-Order Functions
1.Map<br>
2.Filter<br>
3.Reduce<br>
## 1. Map
Applies a function to each item in iterable.<br>
<b>Syntax:</b><br>
map(function, iterable)<br>
Returns an Iterator of results.

In [4]:
L = [1, 2, 3, 4, 5, 6, 7]
L

[1, 2, 3, 4, 5, 6, 7]

In [5]:
map(lambda x : x * 2, L)

In [6]:
list(map(lambda x : x * 2, L))

[2, 4, 6, 8, 10, 12, 14]

In [7]:
list(map(lambda x : x % 2 == 0, L))

[False, True, False, True, False, True, False]

In [8]:
students = [
    {
        "name" : "Jacob Martin",
        "Father name" : "Ros Martin",
        "Address" : "123 Hills Street",
    },{
        "name" : "Angela Stevens",
        "Father name" : "Robert Stevens",
        "Address" : "3 Upper Street London",
    },{
        "name" : "Ricky Smart",
        "Father name" : "William Smart",
        "Address" : "Unknown",
    }
    
]
list(map(lambda student : student["name"], students))

['Jacob Martin', 'Angela Stevens', 'Ricky Smart']

## 2. Filter
Applies a function to sequence.<br>
<b>Syntax:</b><br>
filter(function, sequence)<br>
Returns elements where function is True.

In [9]:
L

[1, 2, 3, 4, 5, 6, 7]

In [10]:
list(filter(lambda x : x > 4, L))

[5, 6, 7]

In [11]:
fruits = ["Apple", "Orange", "Mango", "Guava"]

In [12]:
list(filter(lambda fruit : "e" in  fruit, fruits))

['Apple', 'Orange']

## 3. Reduce
Reduces an iterable to a single value.<br>
<b>Syntax:</b><br>
from functools import reduce<br>
reduce(function, iterable)<br>
Operates on pairs of elements until a single value remains.<br>
Useful for Cumulative Operations (e.g., sum, product).<br>

In [14]:
import functools

In [15]:
L

[1, 2, 3, 4, 5, 6, 7]

In [16]:
functools.reduce(lambda x, y : x + y, L)

28

In [17]:
L1 = [12, 34, 56, 11, 21, 58]
L1

[12, 34, 56, 11, 21, 58]

In [18]:
functools.reduce(lambda x, y : x if x>y else y, L1)

58

In [19]:
functools.reduce(lambda x, y : x if x<y else y, L1)

11